body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: 0 10rem;
    background-image: linear-gradient(to right, black, rgb(32, 25, 25));
}

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 ;
}

.header .nav_links {
    display: flex;
    gap: 40px;
}

.header .nav_links a{
    color: white;
    font-weight: 500;
}

.header .nav_links a#active {
    color: aqua;
}

.header .nav_links a:hover {
    color: aqua;
    transition: .3s linear;
}

.header .contact-btn {
    background-color: white;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
}

.header .contact-btn:hover {
    background-color: aqua;
    transition: .3s linear;
}

.title {
    text-align: center;
    color: white;
}

.banner {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.banner .content-box {
    width: 100%;
}

.banner .content-box h1 {
    font-size: 35px;
    margin-bottom: 10px;
}

.banner .content-box p {
    text-align: justify;
    margin-top: 0;
    margin-bottom: 45px;
}

.banner .content-box span {
    color: aqua;
}

.banner .content-box .download-btn {
    background-color: aqua;
    color: black;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
}

.banner .content-box .download-btn:hover {
    background-color: white;
    transition: .3s ;
}

.banner .img-box {
    width: 100%;
    display: flex;
    justify-content: center;
}


.banner .img-box img {
    border-radius: 50%;
}


/* responsive for small devices -sm  */
/* @media (max-width: 576px) { */
@media (width <= 576px) {
    body {
        margin : 0 16px;
    }
    .banner {
        margin-top: 20px;
        flex-direction: column;
    }
    .header .nav_links{
        display: none;
    }
}

/* responsive for medium devices - md  */
/* @media (min-width:577px) and (max-width: 768px) { */
@media (576px <= width <= 768px){
    body {
        margin : 0 16px;
    }
    .banner {
        margin-top: 20px;
        flex-direction: column;
    }
    .header .nav_links{
        display: none;
    }
}

/* responsive for medium devices - lg  */
/* @media (min-width:768px) and (max-width: 1000px) { */
@media (768px <= width <= 1000px) {
    body {
        margin: 0 16px;
    }
}

